<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Time Table</title>
	<style>
		table {
  border-collapse: collapse;
  width: 100%;
  }
  tr{
	color: #ddd;
  }
  th, td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
  }
  tr:hover {background-color: #000000;}
  th {
  background-color: rgba(65, 255, 201, 0.685);
  color: rgb(0, 0, 0);
  }
  body{
  background-color: #0b2b39;
  }
  .center {
	color: #35ffc9;
    border: 2px solid;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 10px;
    text-align: center;
	border-color: #000000;
  }
  #search-input {
  margin-bottom: 10px;
  padding: 5px;
  width: 200px;
  border: 1px solid #0b0b0b;
  border-radius: 3px;
  }
  tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.4);
}

th:nth-child(even),td:nth-child(even) {
  background-color: rgba(0, 111, 122, 0.633);
}
	</style>
</head>
<body>
<div>
	<form method="POST" action="{% url 'filtered' %}">
	<div class="center">
		{% csrf_token %}
		<label  for="batch">Batch:</label>
		<input type="text" id="batch" name="batch" placeholder="Enter Batch no." list="search-suggestions">
		<datalist id="search-suggestions">
		<option value="CS410">CS410</option>
		<option value="CE41">CE41</option>
		<option value="CS41">CS41</option>
		<option value="CS42">CS42</option>
		<option value="CS43">CS43</option>
		<option value="CS44">CS44</option>
		<option value="CS45">CS45</option>
		<option value="CS46">CS46</option>
		<option value="CS47">CS47</option>
		<option value="CS48">CS48</option>
		<option value="CS49">CS49</option>
		<option value="EC42">EC41</option>
		<option value="EM41">EM41</option>
		<option value="CSM"> CSM</option>
		<option value="BIM"> BIM</option>
		<option value="BI41">BI41</option>
		<option value="BT41">BT41</option>
		<option value="IT41">IT41</option>
		<option value="IT42">IT42</option>
		</datalist>
		

	</div>
	<div class="center">
		<label for="teacher">Faculty: </label>
		<input type="text" id="teacher" name="teacher" placeholder="Enter Faculty" list="search-suggestions-2">
		<datalist id="search-suggestions-2">
		<option value="(RJK)">(RJK)</option>
		<option value="(RRA)">(RRA)</option>
		<option value="(PKG)">(PKG)</option>
		<option value="(BKP)">(BKP)</option>
		<option value="(TGM)">(TGM)</option>
		<option value="(UDB)">(UDB)</option>
		<option value="(NTJ)">(NTJ)</option>
		<option value="(PKP)">(PKP)</option>
		<option value="(NJP)">(NJP)</option>
		<option value="(TTS)">(TTS)</option>
		<option value="(CGP)">(CGP)</option>
		<option value="(SDS)">(SDS)</option>
		<option value="(JTV)">(JTV)</option>
		<option value="(DHA)">(DHA)</option>
		<option value="(MBI)">(MBI)</option>
		<option value="(ASA)">(ASA)</option>
		<option value="(PTK)">(PTK)</option>
		<option value="(PDG)">(PDG)</option>
		<option value="(AMN)">(AMN)</option>
		<option value="(SGL)">(SGL)</option>
		<option value="(SWT)">(SWT)</option>
		<option value="(SML)">(SML)</option>
		<option value="(SST)">(SST)</option>
		<option value="(RKU)">(RKU)</option>
		<option value="(PNS)">(PNS)</option>
		<option value="(RRA)">(RRA)</option>
		<option value="(RKI)">(RKI)</option>
		<option value="(HRI)">(HRI)</option>
		<option value="(SHR)">(SHR)</option>
		<option value="(SLD)">(SLD)</option>
		<option value="(NFK)">(NFK)</option>
		<option value="(AKJ)">(AKJ)</option>
		<option value="(ALK)">(ALK)</option>
		<option value="(NVN)">(NVN)</option>
		<option value="(VKB)">(VKB)</option>
		<option value="(EMP)">(EMP)</option>
		<option value="(PKR)">(PKR)</option>
		</datalist>
		
	</div>
		<div class="center">
		<label for="code">Class Code: </label>
		<input type="text" id="code" name="code" placeholder="Enter Class code"
		list="search-suggestions-3">
		<datalist id="search-suggestions-3">
		<option value="P-18B17CI474">P-18B17CI474</option>
		<option value="P-18B17CI473">P-18B17CI473</option>
		<option value="P-18B17CI471">P-18B17CI471</option>
		<option value="P-18B17CI472">P-18B17CI472</option>
		<option value="P-18B17EC371">P-18B17EC371</option>
		<option value="L-18B11CI414">L-18B11CI414</option>
		<option value="L-18B11EC413">L-18B11EC413</option>
		<option value="L-18B11GE411">L-18B11GE411</option>
		<option value="L-18B11MA411">L-18B11MA411</option>
		<option value="L-18B11MA413">L-18B11MA413</option>
		<option value="P-18B17BT474">P-18B17BT474</option>
		<option value="T-20B11EM412">T-20B11EM412</option>
		<option value="T-18B11BT413">T-18B11BT413</option>
		<option value="L-18B11EC411">L-18B11EC411</option>
		<option value="L-18B11HS411">L-18B11HS411</option>
		<option value="L-20B11EM411">L-20B11EM411</option>
		<option value="P-20B17EM472">P-20B17EM472</option>
		<option value="L-18B11CI411">L-18B11CI411</option>
		<option value="T-18B11CI413">T-18B11CI413</option>
		<option value="T-18B11CI415">T-18B11CI415</option>
		<option value="L-18B11CE415">L-18B11CE415</option>
		<option value="L-18B11BT412">L-18B11BT412</option>
		<option value="L-18B11BT411">L-18B11BT411</option>
		<option value="L-18B11CE411">L-18B11CE411</option>
		<option value="L-18B11CE414">L-18B11CE414</option>
		<option value="L-18B11BI412">L-18B11BI414</option>
		<option value="L-18B11BI411">L-18B11BI413</option>
		</datalist>
		<br>
		
	</div><br>
	<input class="center" type="submit" value="Filter Timetable" style="width: fit-content;background-color: #0b0b0b;">
		<div 
		id="table-container">
		</div>
	</form>
	</div>
	<br>
		<h1  class="center" style="color: rgb(0, 0, 0); background-color: rgb(138, 255, 239);">Timetable</h1>
		<br>
		{{ table_html|safe }}
</body>
</html>


	
